@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

@import "./components/btn";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/index";
@import "./pages/menus";
