.search-city {
  @include flex(column);
  background-color: $bg;
  color: lightness-shift-text($bg-2nd);
  padding-bottom: 50px;
  &__city-name {
    @include flex(row, flex-end);
    background-color: $bg-2nd;
    width: 100%;
    height: 50px;
    margin-bottom: 35px;

    input {
      @include text(lightness-shift-text($bg-2nd), 0, start);
      border: none;
      background-color: $bg-2nd;
      font-weight: 550;
      font-size: 1.1rem;
      width: 60%;
      padding-left: 30px;
      outline-style: none;
    }
  }
  &__heading {
    @include text;
    font-weight: 900;
    padding: 5px 15%;
  }
  p {
    @include text(#7e7e7e);
    font-size: 1.2rem;
    padding: 10px 10% 20px 10%;
  }
}
