.btn {
  cursor: pointer;
  @include text-position;
  border: none;
  font-weight: bold;
  outline-style: none;
  &__search-city {
    background: $gradient;
    height: 50px;
    width: 220px;
    border-radius: 50px;
    font-size: 1.1rem;
    color: $color-white;
    @include box-shadow;
  }
}
