.btn {
  cursor: pointer;
  @include text-position;
  border: none;
  font-weight: bold;
  outline-style: none;
  &__explore-order {
    background: $gradient;
    height: 50px;
    width: 220px;
    border-radius: 50px;
    font-size: 1.1rem;
    color: $color-white;
    @include box-shadow;
  }
  &__like {
    font-size: 1rem;
    transform: scale(1.5, 1.7);
    color: $color-subtitle;
    background: none;
  }
}
