.btn {
  cursor: pointer;
  @include text-position;
  border: none;
  font-weight: bold;
  outline-style: none;
  &__explore-order {
    background: $gradient;
    height: 50px;
    width: 220px;
    border-radius: 50px;
    font-size: 1.1rem;
    color: $color-white;
    @include box-shadow;
    @include hover-bg(
      linear-gradient(
        change-color($secondary-color, $lightness: 70%),
        change-color($primary-color, $lightness: 80%)
      ),
      $color-black
    );
    &::before {
      border-radius: 50px;
    }
    &:hover {
      @include box-shadow(
        4px,
        4px,
        10px,
        change-color($bg-2nd, $lightness: 40%)
      );
    }
  }
  &__like {
    font-size: 1rem;
    transform: scale(1.5, 1.7);
    color: $color-subtitle;
    background: none;
    z-index: 2;
    &:hover,
    &:active,
    &:focus {
      i {
        transition: font-weight $anim-btn-dur;
        font-weight: 900;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
