.search-city {
  @include flex(column);
  background-color: $bg;
  color: lightness-shift-text($bg-2nd);
  padding-bottom: 50px;
  &__city-name {
    @include flex;
    background-color: $bg-2nd;
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
  }
  label {
    position: relative;
    left: -10px;
  }
  input {
    color: lightness-shift-text($bg-2nd);
    border: none;
    width: 115px;
    background-color: $bg-2nd;
    font-weight: 550;
    font-size: 1.1rem;
    outline-style: none;
  }

  &__heading {
    @include text-position(5px 15%);
    font-weight: 900;
  }
  p {
    @include text-position(10px 10% 20px 10%);
    color: $color-subtitle;
    font-size: 1.2rem;
  }
}

.manual {
  @include flex(row, wrap);
  &__heading {
    padding-left: $padding-page;
    width: 100%;
  }
  &__step {
    @include flex(row, nowrap, start);
    @include box-shadow;
    border-radius: 20px;
    width: 90%;
    max-width: 375px;
    height: 75px;
    background-color: $bg;
    margin: 10px 0px 10px 20px;
    &__number {
      @include flex;
      background-color: $primary-color;
      color: $color-white;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: relative;
      left: -10px;
    }
    i {
      color: $color-subtitle;
      font-size: 1.25rem;
      width: 25px;
      padding: 0 15px;
    }
    &__text {
      font-weight: bold;
      padding-left: 10px;
    }
    &:hover {
      background-color: #f5edff;
      i {
        color: $primary-color;
      }
    }
  }
}
.restaurants {
  @include flex(column);
  &__heading {
    align-self: flex-start;
    padding-left: $padding-page;
  }
  &__restaurant {
    @include flex(column);
    width: 90%;
    height: 250px;
    position: relative;
    background-color: $bg;
    border-radius: 20px;
    @include box-shadow;

    &__link {
      @include flex(column);
      width: 100%;
      height: 100%;
    }
    &__img {
      width: 100%;
      height: 70%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }
    &__new {
      position: absolute;
      right: 12px;
      top: 7px;
      width: 80px;
      height: 30px;
      background-color: $tertiary-color;
      color: change-color($tertiary-color, $saturation: 50%, $lightness: 45%);
      @include flex;
      border-radius: 2px;
    }
    &__text {
      @include flex(column, wrap, flex-start, flex-start);
      background-color: $color-white;
      border-radius: 0 0 20px 20px;
      width: 100%;
      height: 30%;
      &__heading {
        margin: 15px 0 5px 10px;
        font-weight: bold;
      }
      p {
        margin: 0px 0px 15px 10px;
        color: $color-subtitle;
      }
      &__btn {
        align-self: flex-end;
        margin: 25px 20px 0 0;
        font-size: 1rem;
        transform: scale(1.5, 1.7);
        color: $color-subtitle;
        background-color: $color-white;
        &:hover {
          i {
            font-weight: 900;
            background: $gradient;
          }
        }
      }
    }
  }
}
