img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.menu {
  @include flex(column);
  background: $bg;
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  &__heading {
    @include flex(row, nowrap, space-between);
    width: 90%;
  }
  &__dishes {
    width: 90%;
    &__heading {
    }
    &__dish {
      @include flex(column, wrap, flex-start, flex-start);
      width: 100%;
      background: $color-white;
      margin: 10px 0;
      @include box-shadow;
      border-radius: 20px;
      height: 70px;
      &__heading {
        margin: 15px 0 0 15px;
        width: 65%;
      }
      &__desc {
        margin: 5px 0 0 15px;
      }
      &__price {
        align-self: flex-end;
        height: 100%;
        @include flex(column, nowrap, flex-end);
      }
      &__btn {
        height: 100%;
        background: $tertiary-color;
        color: $color-white;
        width: 0px;
        font-size: 1.5rem;
        align-self: flex-end;
        border-radius: 0 20px 20px 0;
        @include box-shadow;
        visibility: collapse;
        transition: width 500ms;
        i {
          transition: transform 500ms;
        }
      }
      &:hover {
        button {
          visibility: visible;
          transform: rotate(1turn);
          width: 15%;
          i {
            transform: rotate(1turn);
          }
          &:hover,
          &:active,
          &:focus {
            background-color: change-color(
              $tertiary-color,
              $saturation: 60%,
              $lightness: 95%
            );
            border: 2px solid $tertiary-color;
            color: $tertiary-color;
          }
        }
      }
    }
  }
  &__btn {
    margin-top: 50px;
  }
}
