img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.menu {
  @include flex(column);
  background: $bg;
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  &__heading {
    @include flex(row, nowrap, space-between);
    width: 90%;
  }
  &__dishes {
    width: 90%;
    &__heading {
      text-transform: uppercase;
      font-weight: 500;
      &__border {
        background-color: $tertiary-color;
        margin: 5px 0 0 0;
        height: 3px;
        width: 40px;
      }
    }
    &__dish {
      width: 100%;
      margin: 10px 0;
      @include box-shadow;
      border-radius: 20px;
      height: 70px;
      display: grid;
      grid-template-rows: repeat(2, 35px);
      grid-template-columns: 3fr 1fr 1fr;
      overflow: hidden;
      &__heading {
        grid-area: 1 / 1 / 2 / 3;
        margin: 0;
        align-self: center;
        padding-left: 10px;
      }
      &__desc {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0;
        align-self: center;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
      }
      &__price {
        grid-area: 2 / 2 / 3 / 3;
        margin: 0;
        align-self: center;
        justify-self: end;
        padding-right: 10px;
      }
      &__btn {
        grid-area: 1 / 3 / 3 / 4;
        border-radius: 0 20px 20px 0;
        background-color: $tertiary-color;
        font-size: 1.5rem;
        color: $color-white;
        transform: scaleX(1);
      }
    }
  }
  &__btn {
    margin-top: 50px;
  }
}

/*@{ANIMATION}@*/

/*@{MENU FLOW}@*/

/*.menu {
  @include flow(1, bottom);
  &__dishes {
    &:nth-child(2) {
      @include flow(2);
      & div:nth-of-type(1) {
        @include flow(3);
      }
      & div:nth-of-type(2) {
        @include flow(4);
      }
      & div:nth-of-type(3) {
        @include flow(5);
      }
      & div:nth-of-type(4) {
        @include flow(6);
      }
    }
    &:nth-child(3) {
      @include flow(7);
      & div:nth-of-type(1) {
        @include flow(8);
      }
      & div:nth-of-type(2) {
        @include flow(9);
      }
      & div:nth-of-type(3) {
        @include flow(10);
      }
    }
    &:nth-child(4) {
      @include flow(11);
      & div:nth-of-type(1) {
        @include flow(12);
      }
      & div:nth-of-type(2) {
        @include flow(13);
      }
      & div:nth-of-type(3) {
        @include flow(14);
      }
    }
  }
  &__btn {
    @include flow(15);
  }
}*/

.menu {
  @include anim-flow(bottom);
  &__dishes {
    @include anim-flow;
    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $anim-dishes-delay * $i;
      }
    }
  }
  &__btn {
    @include anim-flow;
    animation-delay: $anim-dishes-delay * 4;
  }
}

/*@{DISH BUTTON ACTIVATION}@*/

.menu {
  &__dishes {
    &__dish {
      &__btn {
        @include hover-bg(
          change-color($tertiary-color, $saturation: 50%, $lightness: 45%),
          change-color($tertiary-color, $saturation: 50%, $lightness: 45%)
        );
      }
    }
  }
}
/*@{DISH BUTTON FLOW}@*/
.menu {
  &__dishes {
    &__dish {
      &:hover {
        & > button {
          animation: btn-flow $anim-btn-dur forwards;
          & > i {
            transform: rotate(1turn);
            transition: transform $anim-btn-dur 100ms;
          }
        }
      }
      &__btn {
        transform: scaleX(0);
        transform-origin: right;
      }
    }
  }
}

/*@>700<@*/

@media (min-width: 700px) {
  .menu {
    display: grid;
    grid-template-rows: 75px 1fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
    &__heading {
      grid-row: 1;
      grid-column: 1 / span 2;
      justify-self: center;
      justify-content: center;
      button {
        margin-left: 50px;
      }
    }
    &__dishes {
      margin: auto;
      &:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1;
      }
      &:nth-of-type(2) {
        grid-row: 2;
        grid-column: 2;
      }
      &:nth-of-type(3) {
        width: 60%;
        grid-row: 3;
        grid-column: 1 / span 2;
      }
    }
    &__btn {
      grid-row: 4;
      grid-column: 1 / span 2;
      justify-self: center;
    }
  }
}

/*@>1400<@*/

@media (min-width: 1400px) {
  .menu {
    @include flex(row, wrap);
    &__heading {
      margin-bottom: 30px;
      padding-bottom: 20px;
    }
    &__dishes {
      width: 30%;
      &:nth-of-type(3) {
        width: 30%;
      }
    }
  }
}
