img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.menu {
  @include flex(column);
  background: $bg;
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  &__heading {
    @include flex(row, nowrap, space-between);
    width: 90%;
  }
  &__dishes {
    width: 90%;
    &__heading {
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: $tertiary-color;
        margin: 5px 0 0 0;
        height: 3px;
        width: 40px;
      }
    }
    &__dish {
      width: 100%;
      margin: 10px 0;
      @include box-shadow;
      border-radius: 20px;
      height: 70px;
      @include flex(column, wrap, space-evenly, flex-start);
      flex: none;
      overflow: hidden;

      &__heading,
      &__desc {
        margin: 0;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(85% - 20px);
        height: 40%;
      }
      &__heading {
        margin-top: 10px;
      }
      &__price {
        @include flex(row, nowrap, flex-end, flex-end);
        margin: 0;
        height: 60%;
        padding-right: 20px;
        width: calc(15% - 20px);
      }
      &__btn {
        height: 100%;
        width: 25%;
        @include box-shadow;
        border-radius: 0 20px 20px 0;
        background-color: $tertiary-color;
        font-size: 1.5rem;
        color: $color-white;
        transform: scaleX(1);
      }
    }
  }
  &__btn {
    margin-top: 50px;
  }
}

/*@>760<@*/

@media (min-width: 760px) {
  .menu {
    display: grid;
    grid-template-rows: 75px 1fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
    &__heading {
      grid-row: 1;
      grid-column: 1 / span 2;
      justify-self: center;
      justify-content: center;
      button {
        margin-left: 50px;
      }
    }
    &__dishes {
      margin: auto;
      &:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1;
      }
      &:nth-of-type(2) {
        grid-row: 2;
        grid-column: 2;
      }
      &:nth-of-type(3) {
        width: 60%;
        grid-row: 3;
        grid-column: 1 / span 2;
      }
    }
    &__btn {
      grid-row: 4;
      grid-column: 1 / span 2;
      justify-self: center;
    }
  }
}

/*@>1400<@*/

@media (min-width: 1400px) {
  .menu {
    @include flex(row, wrap);
    &__heading {
      margin-bottom: 30px;
      padding-bottom: 20px;
    }
    &__dishes {
      width: 30%;
      &:nth-of-type(3) {
        width: 30%;
      }
    }
  }
}
