/*-------------------------------------*\
$font$
\*-------------------------------------*/

$font-family-base: "roboto";
$font-family-heading: "Shrikhand";
$font-size-base: 14px;

/*-------------------------------------*\
$color$
\*-------------------------------------*/

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$color-black: #000;
$color-white: #fff;
$bg: #f6f6f6;
$bg-2nd: #eaeaea;
$color-subtitle: #7e7e7e;
$gradient: linear-gradient($secondary-color, $primary-color);

$padding-page: 20px;
