/*-------------------------------------*\
$font$
\*-------------------------------------*/

$font-family-base: "roboto";
$font-family-heading: "Shrikhand";
$font-size-base: 14px;

/*-------------------------------------*\
$color$
\*-------------------------------------*/

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$color-black: #000;
$color-white: #fff;
$bg: #f6f6f6;
$bg-2nd: #eaeaea;
$color-subtitle: #7e7e7e;
$color-bg-footer: #353535;
$gradient: linear-gradient($secondary-color, $primary-color);
$gradient-reverse: linear-gradient($primary-color, $secondary-color);

$padding-page: 20px;

/*-------------------------------------*\
$KEYFRAMES$
\*-------------------------------------*/
$anim-dishes-dur: 500ms;
$anim-dishes-delay: $anim-dishes-dur;
$anim-btn-dur: 300ms;

$duration: 200ms;
$delay: $duration;
